main{
    width: 100%;
    height:100%;
    margin:0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.726);
}

#playlist{
    list-style: none;
    background-color: rgba(109, 106, 106, 0.767);
    border-radius: 6px;
    text-align: center;
}

#playlist li a{
    color: wheat;
    text-decoration: none;
}

#playlist .current-song a{
    color: wheat;
}